ul {
    list-style: none;
  }
  
  li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  .container {
    width: 80%;
  
  }
  
  .header-image {
    margin-left:650px;
  }
  
  #col-left {
    margin-left: 300px;
  }
  .col-2 {
    float: left;
    width: 400px;
    margin: auto;
  }
  .col-1 {
    clear: both;
    width: 400px;
    margin: auto;
  }